<h1>New Owner</h1>

<%= form_for @owner do |f| %>
<%= f.label "Name: " %>
<%= f.text_field :name %> <br>
<%= f.label "Country: " %>
<%= f.text_field :country %> <br>
<%= f.submit "Add Owner" %>
<%end%>