<h1>New Driver</h1>

<%= form_for @driver do |f| %>
<%= f.label "Name: " %>
<%= f.text_field :name %> <br>
<%= f.label "Age: " %>
<%= f.text_field :age %> <br>
<%= f.label "Country: " %>
<%= f.text_field :country %> <br>
<%= f.submit "Add Driver" %>
<%end%>