<h1>Edit Car</h1>

<%= form_for @car do |f| %>
<%= f.label "Name: " %>
<%= f.text_field :name %> <br>
<%= f.label "Make: " %>
<%= f.text_field :make %> <br>
<%= f.label "Engine Manufacturer: " %>
<%= f.text_field :engine_manufacturer%> <br>
<%= f.submit "Edit Car" %>
<%end%>